body {
    text-align: center;
}

a {
    color: #5217AF;
    text-decoration: none;
    margin: 1% 0px;
}
a:hover {
    text-decoration: underline;
}

.nav-dp {
    border-radius: 50%;
    margin: 4px 5px;
}

.main-logo {
    margin: 11% auto 1%;
}

.search-bar {
    width: 544px;
    margin: 1% auto;
}

.button-search {
    margin: 23px 5px;
}

p.language-available {
    font-size: small;
}